*,*::before,*::after{
    box-sizing: border-box;
}
*,canvas{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: inherit;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
}
body{
    background-color: #000021ff;
    min-height: 100%;
}
img,picture,svg,video{
    display: block;
    max-width: 100%;
}
#signature{
    z-index: -1;
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#main{
    background-color: #b3b3b38f;
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    backdrop-filter: blur(20px);
    /* display: grid; */
    /* clip-path: path('M 130.76452,50 C 84.900751,50 47.977861,86.922898 47.977861,132.78666 v 434.42668 c 0,45.86377 36.92289,82.78666 82.786659,82.78666 h 903.17678 c 45.8636,0 82.7867,-36.92288 82.7867,-82.78666 V 132.78666 C 1116.728,86.922898 1079.8049,50 1033.9413,50 Z m 760.93562,164.99532 h 101.8521 c 25.82366,0 46.61326,20.78948 46.61326,46.61316 v 176.78305 c 0,25.82368 -20.7896,46.61314 -46.61326,46.61314 h -101.8521 c -25.8236,0 -46.6131,-20.78945 -46.6131,-46.61314 V 261.60848 c 0,-25.82368 20.7895,-46.61316 46.6131,-46.61316 z'); */
    /* clip-path: polygon(
        0% 0%,
        0% 100%,
            75% 100%,
            75% 25%,
            80% 25%,
            80% 30%,
            90% 30%,
            90% 20%,
            80% 20%,
            80% 25%,
            75% 25%,
            75% 15%,
            95% 15%,
            95% 35%,
            75% 35%,
            75% 100%,
        100% 100%,
        100% 0%
        ); */
}
#logo{
    background-color: #000021ff;
    width: 10%;
    height: fit-content;
    padding: 11px 20px 15px 20px;
    box-sizing: unset;
    /* border: 10px solid #000021ff; */
    position: absolute;
    top: 2%;
    left: 8%;
    /* transform: translate(-50%, -50%); */
    z-index: 1;
    /* font-size: 2rem; */
    border-radius: 50px;
}
/* #logo:hover , #versionH:hover{
    background-color: transparent;
    color: #b3b3b3ff;
} */
#versionH{
    z-index: 2;
    background-color: #ff8a03ff;
    color: #000021ff;
    height: unset;
    width: 2%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1px 2px 1px 1px;
    box-sizing: unset;
    border-radius: 100%;
    border: 5px solid #000021ff;
    position: absolute;
    left:18%;
    /* left: clamp(0%, 811px, 77%); */
    top:1%;
    /* font-size: 1.5rem; */
}
#intro{
    background-color: #b3b3b3ff;
    color: #000021ff;
    position: absolute;
    left: 50px;
    top: 25%;
    width: 50%;
    border: 20px solid #000021ff;
    border-radius: 100px;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 2rem;
}
#myPhoto, #myPhotoReveal{
    position: absolute;
    right: 50px;
    top: 25%;
    width: 20%;
    border: 20px solid #000021ff;
    border-radius: 20%;
    height: unset;
    aspect-ratio: 1;
}
#myPhotoReveal{
    background-color: transparent;
    visibility: hidden;
    z-index: -3;
}
#beltTwo, #beltOne{
    width: 100px;
    height: 50px;
    position: absolute;
    color: #b3b3b3ff;
    border-radius: 100px;
    left: 75%;
    /* right: 17%; */
    top: 47%;
    z-index: 2;
}
#beltTwo{
    background-color: #b3b3b3ff;
    border: 23px solid #000021ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#beltOne{
    background-color: transparent;
    z-index: 11;
}
#beltOne:hover ~ #beltTwo{
    width: 20px;
}
#beltOne:hover ~ #myPhoto{
    z-index: 0;
}
#beltOne:hover ~ #myPhotoReveal{
    background-color: #000021ff;
    visibility: unset;
    z-index: 3;
    color: #b3b3b3ff;
}
#menu{
    background-color: #b3b3b3ff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-sizing: unset;
    border: 10px solid #000021ff;
    position: absolute;
    bottom: 8%;
    right: 1.1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu:hover{
    width: 70px;
    height: 70px;
    bottom: 5%;
    background-color: #ff8a03ff;
}
.dot{
    background-color: #000021ff;
    margin: 1px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}
#menu:hover > .dot{
    width: 7px;
    height: 7px;
}
/* #socials{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 20%;
    width: 100%;
    background-color: #ff8a03ff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.social{
    background-color: #b3b3b3ff;
    width: 5%;
    border: 13px solid #000021ff;
    height: unset;
    aspect-ratio: 1;
    border-radius: 100%;
    position: relative;
    bottom: -25%;
} */
/* #YouTube{
    /* background-color: #ff8a03ff;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}
#YouTube > .social{
    background-color: #ff8a03ff;
} */
#socials{
    aspect-ratio: 1;
    height: unset;
    width: 5%;
    background: transparent;
    /* border: 13px solid #000021ff; */
    border-radius: 100%;
    position: absolute;
    bottom: 0%;
    left: 0%;
    overflow: unset;
}
.social{
    aspect-ratio: 1;
    height: unset;
    width: 100%;
    background-color: #b3b3b3ff;
    border: 13px solid #000021ff;
    border-radius: 100%;
    position: absolute;
    bottom: 0%;
    z-index: 100;
}
.social:nth-child(1){
    bottom: 100%;
}
.social:nth-child(2){
    bottom: 200%;
}
.social:nth-child(3){
    bottom: 300%;
}
.social:nth-child(4){
    bottom: 400%;
}
.social:nth-child(5){
    bottom: 500%;
}
.social:nth-child(6){
    bottom: 00%;
}
.social:nth-child(7){
    left: 100%;
}
.social:nth-child(8){
    left: 200%;
}
.social:nth-child(9){
    left: 300%;
}