*,*::before,*::after{
    box-sizing: border-box;
}
*,canvas{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font: inherit;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    width: 100%;
    transition: all 0.3s;
}
body{
    background-color: #000021ff;
    min-height: 100%;
}
img,picture,svg,video{
    display: block;
    max-width: 100%;
}
#main{
    background-color: #b3b3b38f;
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    backdrop-filter: blur(20px);
    clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
#title{
    background-color: #000021ff;
    color: #000021ff;
    width: 10%;
    height: fit-content;
    padding: 11px 20px 15px 20px;
    box-sizing: unset;
    border: 10px solid #000021ff;
    position: absolute;
    top: 8%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 2rem;
    border-radius: 50px;
}
#title:hover , #veryun:hover{
    background-color: #ff8a03ff;
    color: #000021ff;
}
#signature{
    z-index: -1;
    width: 95%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#veryun{
    z-index: 2;
    background-color: #b3b3b3ff;
    color: #000021ff;
    height: 30px;
    width: 30px;
    padding: 3px 3px 0px 3px;
    box-sizing: unset;
    border-radius: 100%;
    border: 5px solid #000021ff;
    position: absolute;
    left: 59.3%;
    /* left: clamp(0%, 811px, 77%); */
    top: 1.8%;
    font-size: 1.5rem;
}
#menu, .arrow{
    background-color: #b3b3b3ff;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-sizing: unset;
    border: 10px solid #000021ff;
    position: absolute;
    bottom: 8%;
    right: 1.1%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu:hover{
    width: 70px;
    height: 70px;
    bottom: 5%;
    background-color: #ff8a03ff;
}
.left{
    right: 51%;
}
.right{
    right: unset;
    left: 51%;
}
#arrowRight, #arrowLeft{
    width: 50%;
}
.right:hover{
    justify-content: right;
    background-color: #ff8a03ff;
}
.left:hover{
    justify-content: left;
    background-color: #ff8a03ff;
}
.dot{
    background-color: #000021ff;
    margin: 1px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
}
#menu:hover > .dot{
    width: 7px;
    height: 7px;
}